body {    
    font-family: Arial, sans-sertif;
    background-color: #2dbbe6;
    color: #000000;
    margin: 0;
}
div {
  margin: 2rem 0;
  background: rgb(255, 255, 255);
}

p {
  margin: 0.4rem 0 1.2rem 0;
  background: rgb(0, 0, 0);
}